.modal {
  bacground: #fff;
  width: 500px;
  height: 600px;
  border-radius: 15px;
  padding: 20px;
  z-index: 100;
}

.header {
  display: flex;
  justify-content: flex-end;
  font-size: 25px;
}

.body {
  padding-top: 10px;
}

.overlay {
  positio: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  bacground: center;
  bacground-color: rgb(0, 0, 0, 0.7);
}
